*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav__link, .menu-link {
  position: relative;
}
.nav__link::after, .menu-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.nav__link:hover::after, .menu-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

body {
  color: #403F3D;
}

.wrapper {
  max-width: 136rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  border-radius: 3rem;
  text-align: center;
  border: none;
  background: transparent;
}
.btn--primary {
  padding: 2rem 6.8rem;
  background-color: #E1D4C9;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 600;
  font-style: normal;
}
.btn__text {
  transform: translateX(1rem);
  transition: transform 0.5s ease;
}
.btn__icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  background-image: url("./assets/images/icons/coffee-cup.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  transition: all 0.5s ease;
}
.btn:hover .btn__text {
  transform: translateX(-0.7rem);
}
.btn:hover .btn__icon {
  opacity: 1;
}

.header {
  padding: 2rem 0;
  background-color: #E1D4C9;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 10rem;
  height: 6rem;
  background-image: url("./assets/images/logo/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dark .logo {
  background-image: url("./assets/images/logo/logo_dark.png");
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 4rem;
}
.nav__link {
  position: relative;
  text-decoration: none;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.theme-switch {
  display: flex;
  border: 1px solid #C1B6AD;
  border-radius: 3rem;
  padding: 0.1rem;
  gap: 0.2rem;
}
.theme-switch__btn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-size: 3.4rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-image 0.3s ease;
}
.theme-switch__btn--sun {
  background-image: url("./assets/images/icons/sun.png");
}
.theme-switch__btn--moon {
  background-image: url("./assets/images/icons/moon.png");
}
.theme-switch__btn--moon:hover {
  background-image: url("./assets/images/icons/moon_hover.png");
}

.menu-link {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
}
.menu-link__icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url("../assets/images/icons/coffee-cup.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  background-color: #E1D4C9;
}
.hero__wrapper {
  border-radius: 4rem;
  background-image: url("./assets/images/hero/img-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__content {
  max-width: 73rem;
  padding: 10rem;
}
.hero__title {
  color: #E1D4C9;
  font-family: "Inter", sans-serif;
  font-size: 7.2rem;
  line-height: 105%;
  font-weight: 600;
  font-style: normal;
}
.hero__title-first {
  font-style: italic;
  color: #B0907A;
}
.hero__description {
  margin: 4rem 0;
  color: #E1D4C9;
}

/*# sourceMappingURL=style.css.map */
