@use "../abstracts" as *;

.header {
  padding: 2rem 0;
  background-color: $color-bg-page;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


.logo {
    display: inline-block;
    width: 10rem;
    height: 6rem;
    background-image: url('./assets/images/logo/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .dark & {
        background-image: url('./assets/images/logo/logo_dark.png');
    }
}

.nav {
    &__list {
        display: flex;
        list-style: none;
        gap: 4rem;
    }

    &__link {
        position: relative;
        text-decoration: none;
        color: $color-primary;
        @include font-style($size: 1.6rem, $height: 150%, $weight: 400);
        @extend %hover-underline;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.theme-switch {
    display: flex;
    border: 1px solid $color-border-primary;
    border-radius: 3rem;
    padding: 0.1rem;
    gap: 0.2rem;

    &__btn {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        border: none;
        background-color: transparent;
        background-size: 3.4rem;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: background-image 0.3s ease;

        &--sun {
            background-image: url('./assets/images/icons/sun.png');
        }

        &--moon {
            background-image: url('./assets/images/icons/moon.png');

            &:hover {
                background-image: url('./assets/images/icons/moon_hover.png');
            }
        }
    }
}

.menu-link{
    display: inline-flex;
    align-items:center;
    gap: 0.8rem;
    text-decoration: none;
    color: $color-primary;
    @include font-style($size: 1.6rem, $height: 150%, $weight: 400);
    @extend %hover-underline;

    &__icon {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-image: url('./assets/images/icons/coffee-cup.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
