@mixin font-style($size, $height, $weight: 600, $style: normal) {
    font-family: 'Inter', sans-serif;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-style: $style;
}